<section class="container-fluid m-0 p-0 w-100">
    <div class="m-0 p-0 w-full d-flex justify-content-between">
        <h3 class="text-light"> {{ title }}</h3>
        <span style="cursor: pointer;" class="d-flex justify-content-center bg-primary" ><i (click)="retour()" class="bi bi-chevron-left"> Retour</i></span>
    </div>
    <div class="w-full d-flex flex-wrap">
        <div class="bg-transparent d-flex flex-row flex-wrap">
            <div class="bg-transparent border-0 d-flex flex-column m-0">
                <label for="">Le nom de votre circuit</label>
                <input #name [value]="value_to_show?.name" class="border-top-0 border-start-0 border-end-0"  type="text">
            </div>
            <div class="bg-transparent border-0 d-flex flex-column m-0">
                <label for="">Distance à parcourir</label>
                <input #distance [value]="value_to_show?.distance" class="border-top-0 border-start-0 border-end-0" type="number">
            </div>
            <div class="bg-transparent border-0 d-flex flex-column m-0">
                <label for="">Confort</label>
                <input #confort [value]="value_to_show?.confort" class="border-top-0 border-start-0 border-end-0" type="number">
            </div>
            <div class="bg-transparent border-0 d-flex flex-column m-0">
                <label for="">Période</label>
                <div class="periode d-flex flex-row justify-content-around">
                    <input #period_d  class="border" type="number" placeholder="07"> <input #period_e class="border" type="number" placeholder="09"> 
                </div>
            </div>
            <div class="bg-transparent border-0 d-flex flex-column m-0">
                <label for="">Durée totale</label>
                <div class="periode d-flex flex-row justify-content-around">
                    <input #jours class="border" type="number" placeholder="jours"> <input #nuit class="border" type="number" placeholder="nuit"> 
                </div>
            </div>
            <div class="bg-transparent border-0 d-flex flex-column m-0">
                <label for="">Difficulté</label>
                <input #difficuclty [value]="value_to_show?.difficulty" class="border-top-0 border-start-0 border-end-0" type="number">
            </div>
            <div class="bg-transparent border-0 d-flex flex-column m-0">
                <label for=""> Prix </label>
                <input #price [value]="value_to_show?.price" class="border-top-0 border-start-0 border-end-0" type="number">
            </div>
            <div class="bg-transparent border-0 d-flex flex-column m-0">
                <label for="">Image</label>
                <input #image class="border-top-0 border-start-0 border-end-0" type="file">
            </div>
        </div>
        <div class="bg-transparent border-0 d-flex flex-column m-0 w-auto">
            <label for="">La description du circuit</label>
            <textarea #desc [value]="value_to_show?.description" name="" id="" placeholder="Une petite description"></textarea>
        </div>
        <div style="width: 300px;" class="bg-transparent d-flex">
            <span class="rounded border bg-primary" (click)="update_all_value(name.value,distance.value,confort.value, period_d.value, period_e.value,jours.value, nuit.value,difficuclty.value, price.value, image)"><p>Valider</p></span><span class="rounded"><p>Annuler</p></span>
        </div>
    </div>
</section>
<app-internal-footer></app-internal-footer>