<section>
    <section class="d-flex flex-nowrap justify-content-around col-3 lg-3">
        <div class="bg-transparent" *ngFor="let i of parent_road">
            <img src="{{i.presentation_image}}" alt="{{i.name}}" srcset="">
            <h4>Nom : {{i.name}}</h4>
            <div class="d-flex justify-content-around">
                <div class="suivant">Suivant</div>
                <div class="modifier">Modifier</div>
                <div class="supprimer">Supprimer</div>
            </div>
        </div>
    </section>
    <app-internal-footer></app-internal-footer>
</section>
