<section class="row border bg-primary overflow-hidden mb-2">
    <section class="col-12">
        <div class="row d-flex flex-row flex-nowrap">
            <div class="col-12 items-1 d-flex align-items-center">
                <div class="container flex-column text-center text-light">
                    <h4>Descente du fleuve vers le Tsingy</h4>
                    <h1>MANAMBOLO</h1>
                </div>
            </div>
            <div class="col-12 items-2 d-flex align-items-center">
                <div class="container flex-column text-center text-light">
                    <h4>Visite du Parc</h4>
                    <h1>GRAND TSINGY</h1>
                </div>
            </div>
            <div class="col-12 items-3 d-flex align-items-center">
                <div class="container flex-column text-center text-light">
                    <h4>Passage au sud du pays</h4>
                    <h1>SOATANANA</h1>
                </div>
            </div>
        </div>
    </section>
</section>