<section class="row border overflow-hidden mb-2">
    <section class="col-12">
        <div class="row d-flex flex-row flex-nowrap">
            <div class="col-12 items-1 d-flex align-items-center">
                <div class="container flex-column text-center text-light">
                    <h4 class="fs-lg-4 fs-md-6" >Descending the river to the Tsingy</h4>
                    <h1 class="fs-lg-1 fs-md-3">MANAMBOLO</h1>
                </div>
            </div>
            <div class="col-12 items-2 d-flex align-items-center">
                <div class="container flex-column text-center text-light">
                    <h4 class="fs-lg-4 fs-md-6">Visite the Park</h4>
                    <h1 class="fs-lg-1 fs-md-3">GRAND TSINGY</h1>
                </div>
            </div>
            <div class="col-12 items-3 d-flex align-items-center">
                <div class="container flex-column text-center text-light">
                    <h4 class="fs-lg-4 fs-md-6 ">Passage to the south of the country</h4>
                    <h1 class="fs-lg-1 fs-md-3">SOATANANA</h1>
                </div>
            </div>
        </div>
    </section>
</section>