/* .choice-container div{
    background-color: #383535;
    color: #d3cccc;
    box-sizing: border-box;
    cursor: pointer;
}
.choice-container {
    outline: none;
    overflow: hidden;
    border-radius: 10px;
    /* border: 3px solid red
    font-weight: bold;

} */
.row .col-6 {
    cursor: pointer;
}
.row .col-6 .selected {
    background-color: #076eaa;
    color: #d3cccc;
    box-sizing: border-box;
    cursor: pointer;
}
section.container {
    margin-top: 5px;
}
.row .d-flex {
    border-radius: 30px;
}