<section class="row d-flex justify-content-end me-2 ms-2">
    <div class="col-lg-8 col-md-12 border d-flex justify-content-center bg-light">
        <div class="col-12 text-center">
            <h3>Travel differently</h3>
            <p class="fs-5">Visit diversity that is not found anywhere else in the world, whether it is fauna or flora</p>
        <div class="col-12 d-flex justify-content-center mb-2">
            <div class="border col-8 text-center bg-success rounded bg-opacity-25-hover"><a class="col-12 text-light text-decoration-none" routerLink="public/all_child/0" routerLinkActive="activebutton">All our circuits bring together.</a></div>
        </div>
        </div>
    </div>
</section>