.row .col-12 {
    padding: 10px 0px;
}
.row .col-12 .col-lg-3 {
    display: block;
    overflow: hidden;
    outline: none;
    cursor: default;
}
.row .d-grid .col-12 {
    scrollbar-color: transparent transparent;
}
.row .col-12 .col-lg-3:hover > .col-12 {
    transition: 0.1s;
    transform: scale(1.2);
}
.row .col-12 .col-lg-3 .col-12 .linear h3 {
    font-weight: 400;
}
.row .col-12 .col-lg-3:hover > .col-12 .linear {
    transform: scale(0.8);
    transition: 0.1s;
}
.row .col-12 .col-lg-3 .col-12 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.1s;
    /* overflow: hidden; */
    height: 100%;
}
.row .col-12 .col-lg-3 .col-12 .linear .d-flex .button_slide {
    box-shadow: inset 0 0 0 #2c2b2b;
    transition: 0.1s;
    font-weight: bold;
    padding: 5px;
    margin: 3px;
    overflow: hidden;
    cursor: pointer;
}
.row .col-12 .col-lg-3:hover > .col-12 .linear .d-flex .button_slide {
    box-shadow: inset 0 100px 0 #2c2b2b;
    transition: 1s;
}
.row .col-12 .col-lg-3 .linear h3 {
    font-weight: 400;
}
.row .col-12 .col-lg-3 .linear h4 {
    font-weight: 300;
}
.row .col-12 .col-lg-3:hover > .linear h3 {
    margin-left: 5px;
    transition: 0.5s;
    color: aqua;
}
.row .d-grid {
    grid-template-columns: 50px auto 50px;

}
.row .d-grid .items-1 {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    display: flex;
    justify-content: center;
    align-content: center;
}
.row .d-grid .items-2 {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
    display: flex;
    justify-content: center;
    align-content: center;
}
.row .col-12 .col-lg-3:hover > .linear h4{
    animation-name: hover_animation;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 0s;
}
.icon .bi {
    font-weight: 500;
    font-size: 50px;
}
/* .icon .bi-arrow-left-circle-fill {
    position: absolute;
    top: 50vh;
    left: 30px;
}*/
@keyframes hover_animation {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(10px);
    }
}
