<section class="container row d-flex m-auto flex-nowrap">
    <div class="col-4" *ngFor="let i of parent_road_list">
        <!-- <img [src]="i.presentation_image" alt=""> -->
        <div [style]="{'background-image': 'url(' + i.presentation_image + ')'}" class="contain">
            <div class="linear">
                <h3>Nom : {{ i.name }}</h3>
            <h4>Description :  {{ i.about_all_road }}</h4>
            <div class="d-flex justify-content-end">
                <div class="button_slide slide_down">Découvrir</div>
            </div>
            </div>
        </div>
    </div>
</section>
<!-- ajout de fonction avec l'identifant non afficher  -->