.row .col-12 {
    padding: 10px 0px;
}
.row .col-12 .col-3 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    height: 55vh;
    overflow: hidden;
    cursor: default;
}
.row .col-12 .col-3 .linear {
    background: linear-gradient(180deg, #0d0df8, #9d9dd6, transparent)
}
.row .col-12 .col-3 .linear .d-flex .button_slide {
    box-shadow: inset 0 0 0 #2c2b2b;
    transition: 0.1s;
    font-weight: bold;
    padding: 5px;
    margin: 3px;
    overflow: hidden;
    cursor: pointer;
}
.row .col-12 .col-3:hover > .linear .d-flex .button_slide {
    box-shadow: inset 0 100px 0 #2c2b2b;
    transition: 1s;
}
.row .col-12 .col-3 .linear h3 {
    font-weight: 400;
}
.row .col-12 .col-3 .linear h4 {
    font-weight: 300;
}
.row .col-12 .col-3:hover > .linear h3 {
    margin-left: 5px;
    transition: 0.5s;
    color: aqua;
}
.row .col-12 .col-3:hover > .linear h4{
    animation-name: hover_animation;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 0s;
}
@keyframes hover_animation {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(10px);
    }
}