<section class="row d-flex flex-nowrap bg-primary overflow-x-scroll">
    <div class="col-3 overflow-hidden items-1 border m-1"> 
    </div>
    <div class="col-3 overflow-hidden items-2 border m-1"> 
    </div>
    <div class="col-3 overflow-hidden items-3 border m-1"> 
    </div>
    <div class="col-3 overflow-hidden items-4 border m-1"> 
    </div>
    <div class="col-3 overflow-hidden items-5 border m-1"> 
    </div>
    <div class="col-3 overflow-hidden items-6 border m-1"> 
    </div>
    <div class="col-3 overflow-hidden items-7 border m-1"> 
    </div>
</section>