<section class="row p-0 m-0 principale">
    <div class="col-12 m-0 p-0">
    <app-slide-component-for-home class="m-0 p-0"></app-slide-component-for-home>
    <app-madagascar-presentation class="m-0 p-0"></app-madagascar-presentation>
    <app-get-all-parent-road class="m-0 p-0"></app-get-all-parent-road>
    <app-album-grid class="m-0 p-0"></app-album-grid>
    <app-link-for-all-child-road></app-link-for-all-child-road>
    <app-devis-and-contact></app-devis-and-contact>
    <app-favorite-road class="m-0 p-0"></app-favorite-road>
    </div>
</section>