<div class="container-fluid h-full"> 
    <form class="container rounded">
        <div class="text-center m-bottom-20">
            INSCRIPTION
        </div>
        <div class="mb-3 text-center">
          <label for="exampleInputEmail1" class="form-label">Entrer votre nom complet</label>
          <input type="text" class="form-control border-top-0 border-start-0 border-end-0 rounded-0" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3 text-center">
          <label for="exampleInputPassword1" class="form-label ">Entrer votre adresse mail</label>
          <input type="mail" class="form-control border-top-0 border-start-0 border-end-0 rounded-0" id="exampleInputPassword1">
        </div>
        <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-primary">Suivant > </button>
        </div>
        <div class="validate d-flex flex-column">
            <span class="fs-5">Vous avez déjà un compte ?</span>
            <span>Annuler</span>
        </div>
      </form>
</div>
<app-internal-footer></app-internal-footer>