<div class="row bg-light">
    <div class="col-12 text-center"><h4>Voici quelques raisons pourquoi choisir notre agence.</h4></div>
    <div class="col-12 m-0 p-0 border">
        <section class="d-grid mt-2">
            <div class="border items-1 "><div class="row d-flex"><h5>Lorem ipsum dolor sit.</h5><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, tempore.</p></div></div>
            <div class="border items-2 "><div class="row d-flex"><h5>Lorem ipsum dolor sit.</h5><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, tempore.</p></div></div>
            <div class="border items-3 "><div class="row d-flex"><h5>Lorem ipsum dolor sit.</h5><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, tempore.</p></div></div>
            <div class="border items-4 "><div class="row d-flex"><h5>Lorem ipsum dolor sit.</h5><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, tempore.</p></div></div>
            <div class="border items-5 "><div class="row d-flex"><h5>Lorem ipsum dolor sit.</h5><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, tempore.</p></div></div>
        </section>
    </div>
</div>