<div class="row bg-grey ps-3">
    <div class="col-12 text-center"><h4>Here are some reasons why you should choose our agency.</h4></div>
    <div class="col-12 m-0 p-0 border">
        <section class="d-grid mt-2">
            <div class="border items-1 d-lg-flex d-none"><div class="row d-flex"><h5 class="text-dark">{{ items_1.title }}</h5><p class="text-dark">{{ items_1.content }}</p></div></div>
            <div class="border items-2 d-flex"><div class="row d-flex"><h5 class="text-dark">{{ items_2.title }}</h5><p class="text-dark">{{ items_2.content }}</p></div><div class="row d-lg-none d-flex"><h5 class="text-dark">{{ items_1.title }}</h5><p class="text-dark">{{ items_1.content }}</p></div></div>
            <div class="border items-3 d-none d-md-flex d-lg-flex"><div class="row d-flex"><h5 class="text-dark">{{ items_3.title }}</h5><p class="text-dark">{{ items_3.content }}</p></div><div class="row d-md-flex d-lg-none d-none"><h5 class="text-dark">{{ items_4.title }}</h5><p class="text-dark">{{ items_4.content }}</p></div></div>
            <div class="border items-4 d-lg-flex d-none"><div class="row d-flex"><h5 class="text-dark">{{ items_4.title }}</h5><p class="text-dark">{{ items_4.content }}</p></div></div>
            <div class="border items-5 d-none d-md-flex d-lg-flex"><div class="row d-flex"><h5 class="text-dark">{{ items_5.title }}</h5><p class="text-dark">{{ items_5.content }}</p></div></div>
        </section>
    </div>
</div>