<section class="row bg-primary p-2">
    <div class="col-12 text-center">
            <h4 class="text-decoration-underline text-dark">Pourquoi Madagascar </h4>
            Bienvenue à Madagascar, la perle de l'océan Indien ! Cette île unique et mystérieuse, située au large de la côte sud-est de l'Afrique, est un véritable paradis pour les amateurs de nature, de culture et d'aventure. Madagascar est réputée pour sa biodiversité exceptionnelle. Environ 90 % de sa faune et de sa flore sont endémiques, ce qui signifie qu'ils ne se trouvent nulle part ailleurs sur la planète. Elle est aussi une terre de richesse culturelle et historique. Vous serez enchanté par la diversité et la profondeur des traditions locales.
            Pour les amateurs de sensations fortes et de nature, Madagascar offre une multitude d'activités :
            <ul>
                <li>"Randonnée dans le Massif de l'Isalo" : Des paysages à couper le souffle entre canyons, piscines naturelles et formations rocheuses.</li>
                <li>"Trekking dans le Parc National de Marojejy" : Une expérience inoubliable à travers une biodiversité dense et variée.</li>
                <li>"Les Sports Extrêmes" : Parapente, rafting et kitesurf pour les plus intrépides.</li>
            </ul>
            
Madagascar vous promet un voyage inoubliable, riche en découvertes et en émotions. Que vous soyez en quête de détente, d'aventure ou de culture, cette île majestueuse saura répondre à toutes vos attentes. Embarquez avec nous pour une expérience unique à Madagascar, là où la nature et la culture se rencontrent en harmonie parfaite.
    </div>
</section>