section .col-12 {
    font-family: sans-serif;
    color: white;
    font-weight: bold;
}
section .col-12 h4 {
    font-family: "Calibri", 'Trebuchet MS', sans-serif;
    font-weight: bold;
}
.row .col-12 {
    font-size: 15px;
}