<section class="row">
    <div *ngFor="let i of parent_road_list" class="col-lg-10 m-auto d-flex mt-3 mb-3 p-1">
        @if(i.id % 2) {
            <div class="col-lg-4 bg-primary " [style]="{'background-image' : 'url(' + i.presentation_image + ')'}"></div>
            <div class="col-lg-7 m-auto">
                <!-- <div class="d-flex"> <h4 class="fw-bold m-0 p-0">Name : {{ i.name }}</h4></div> -->
                <div><h5 class="fw-bold m-0 p-0"> Description : </h5> <small  class="ms-1">{{ i.description }}</small></div>
                <div class="d-flex justify-content-end"> <a class="text-decoration-none" [routerLink]="'public/information/' + i.name" routerLinkActive="activebutton">More ..</a></div>
            </div>
        }
        @else {
            <div class="col-lg-7 m-auto">
                <div ><h5 class="fw-bold m-0 p-0"> Description : </h5> <small class="ms-1">{{ i.description }}</small></div>
                <div class="d-flex justify-content-end"> <a class="text-decoration-none text-primary" [routerLink]="'public/information/' + i.name" routerLinkActive="activebutton">More ..</a></div>
            </div>
            <div class="col-lg-4 bg-primary ms-1" [style]="{'background-image' : 'url(' + i.presentation_image + ')'}"></div>
        }
    </div>
</section>
<app-internal-footer></app-internal-footer>