<!-- <div class="py-1 bg-primary">
  <div class="container">
      <div class="row no-gutters d-flex align-items-start align-items-center px-md-0">
          <div class="col-lg-12 d-block">
              <div class="row d-flex">

                  <div class="col-md pr-4 d-flex topper align-items-center">
                      <div class="icon mr-2 d-flex justify-content-center align-items-center"><span class="icon-phone2"></span></div>
                      <span class="text">Aventure et sensation forte.</span>
                  </div>

                  <div class="col-md pr-4 d-flex topper align-items-center">
                      <div class="icon mr-2 d-flex justify-content-center align-items-center"><span class="icon-paper-plane"></span></div>
                      <span class="text"> <i class="fas fa-paper-plane">{{title}}</i></span>
                  </div>

                  <div class="col-md-5 pr-4 d-flex topper align-items-center text-lg-right">
                      <span class="text"><i class="fas fa-phone"></i> +261 38 57 589 64</span>
                  </div>
                  
              </div>
          </div>
      </div>
    </div>
</div> -->
<section>
    <section class="header_container">
        <div class="name_and_contact">
          <span>Aventure et sensation forte. </span><span> +26 13 41 05 12 08</span><span></span>
        </div>
      </section>
      <section class="header_container">
        <div class="space_between">
                <h1>CAP SUR MADA</h1>
                <div nomena_walker class="display_flex_end">
                    <a href="#">Acceuil</a>
                    <a href="#">Circuit</a>
                    <a href="#">Connexion</a>
                </div>
        </div>
      </section>
</section>
<!-- on doit faire le responsive -->
 <!-- ajouter les icones pour toutes ces liens -->