span {
    font-family: sans-serif;
    font-weight: bold;
    cursor: pointer;
    align-content: center;
}
span:hover {
    background-color: #0d6efd;
}
.row .bgc-undefined {
    background-color: #383535;
}
.row .bgc-undefined .container .col-6 .me-2,.row .bgc-undefined .container .col-6 .me-2 .pe-2{
    height: 100%;
}
/* app-menu-for-all-member-or-admin-action {
    visibility: collapse;
} */