<div #div class="py-1 bg-primary">
  <div class="container">
      <div class="row no-gutters d-flex align-items-start align-items-center px-md-0">
          <div class="col-lg-12 d-block">
              <div class="row d-flex">

                  <div class="col-md pr-4 d-flex topper align-items-center">
                      <div class="icon mr-2 d-flex justify-content-center align-items-center"><span class="icon-phone2"></span></div>
                      <span class="text">Aventure et sensation forte.</span>
                  </div>

                  <div class="col-md pr-4 d-flex topper align-items-center">
                      <div class="icon mr-2 d-flex justify-content-center align-items-center"><span class="icon-paper-plane"></span></div>
                      <span class="text"> <i class="fas fa-paper-plane"><i class="bi bi-send-fill"></i> {{mail}}</i></span>
                  </div>
 
                  <div class="col-md-5 pr-4 d-flex topper align-items-center text-lg-right">
                      <span class="text"><i class="bi bi-telephone-fill"> +261 38 57 589 64</i></span>
                  </div>
                  
              </div>
          </div>
      </div>
    </div>
</div>
<div class="bgc-undefined text-light">
    <div class="container d-flex justify-content-between ">
        <div class="name container ">
            <h3>CAP SUR MADA</h3>
        </div>
        <div class="full-screen container p-0">
            <div class="d-flex justify-content-end m-0">
                <span class="d-flex justify-content-center h-10"><i class="bi bi-house-door"> Acceuil</i></span>
                <span class="d-flex justify-content-center"><i class="bi bi-signpost-split">  Nos circuits</i></span>
                <span class="d-flex justify-content-center"> <i class="bi bi-globe2"> Connexion</i> </span>
            </div>
        </div>
        <div class="phone-screen">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle w-200" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Menu
                </button>
              
                <ul class="dropdown-menu p-0">
                  <li class="w-200"><span class="d-flex justify-content-center h-10"><i class="bi bi-house-door"> Acceuil</i></span></li>
                  <li><span class="d-flex justify-content-center"><i class="bi bi-signpost-split"> Nos circuit</i></span></li>
                  <li><span class="d-flex justify-content-center"><i class="bi bi-globe2"> Connexion</i></span></li>
                  <li><span class="d-flex justify-content-center"><i class="bi bi-telephone-fill"> Nous contacter</i></span></li>
                </ul>
              </div>
        </div>
    </div>
</div>