@if(authorized) {
    <section class="row">
        <div class="col-12 mt-4">
            <input class="col-lg-10 col-12  d-flex m-auto ps-3 border fs-2" type="text" name="" id="" [value]="'E-mail : ' + mail" disabled>
        </div>
        <div class="col-12 mt-4">
            <input class="col-lg-10 col-12  d-flex m-auto ps-3 border fs-2" type="text" name="" id="" [value]="'Type : ' + type2" disabled>
        </div>
        <div class="col-12 mt-4">
            <div class="col-lg-10 col-12 m-auto special">
               <div class="d-grid">
                <div class="left bg-transparent text-center d-flex align-items-center"><i (click)="preview(scroll)" class="bi bi-arrow-left-circle-fill fs-2"></i></div>
                <div #scroll class="bg-transparent overflow-x-scroll overflow-y-hidden d-flex flex-nowrap">
                    <div class="col-lg-4 col-md-6 col-12 p-1" *ngFor="let i of all_under">
                        <div class="bg-transparent rounded h-inherit text-light" [style]="{'background-image' : 'url(' + i.presentation_image + ')'}"><i #name (click)="change_class(name)" class="bi bi-heart fw-bold"></i>
                        <h5> Name: {{ i.name}}</h5><p class="m-0">Price : {{i.price}}</p> </div>
                    </div>
                </div>
                <div class="bg-transparent text-center d-flex align-items-center"><i  class="bi bi-arrow-right-circle-fill fs-2" (click)="next(scroll)"> </i></div>
               </div> 
                </div>
            </div>
        <div class="col-12 mt-4">
            <textarea #string_commentary class="col-10  d-flex m-auto ps-3" name="" id=""></textarea>
        </div>
         <div class="col-12 mt-4">
            <div class="col-lg-10 col-12  d-flex m-auto ps-3 d-flex justify-content-end pe-2" ><div (click)="validate(string_commentary.value,scroll)" class="border rounded bg-primary p-2 fw-bold text-light">Enregistrer </div></div>    
        </div>
    </section>
}
@else {
    <section class="row alert">
        <div class="col-12 d-flex text-center align-items-center ">
            <div class="col-lg-4 col-md-7 col-10 m-auto rounded overflow-hidden border">
                <h5 class="text-center bg-primary col-12">Alert</h5>
                <p>Adresse mail déjà existant parmi les commentaires</p>
                <small>Vous n'avez droit qu'à un commentaire</small>
                <div class="d-flex justify-content-center mb-1"><a class="text-decoration-none" routerLink="/" routerLinkActive="avtivebutton"><button class="border-0 ps-3 pe-3 fs-5">Retour</button></a></div>
            </div>
        </div>
    </section>
}
