<section class="row">
    <div class="col-8 bg-light">
        <h3 class="text-decoration-underline text-center">Nous contacter</h3>
        <div class="col-12 d-flex justify-content-center">
            <p class="col-8"> Vous pouvez nous contacter à travers ces moyens de contact ci dessous pour mieux préparer votre voyages et pour toutes les informations le concernant</p>
        </div>
        <div class="bg d-flex justify-content-center gap-2 mb-1">
            <div class="bg-primary"><i class="bi bi-telephone-fill"> +261 34 10 512 08</i></div>
            <div class="bg-primary"><i class="bi bi-envelope-at-fill"> wnomena</i></div>
            <div class="bg-primary"><i class="bi bi-currency-pound"> Demander un devis</i></div>
        </div>
    </div>
</section>