<section class="row m-2">
    <div class="col-lg-8 col-md-12 me bg-light">
        <h3 class="text-decoration-underline text-center">Contact us</h3>
        <div class="col-12 d-flex justify-content-center">
            <p class="col-8 text-center"> You can contact us through these contact methods below to better prepare your trip and for all the information you need:</p>
        </div>
        <div class="bg d-flex justify-content-center gap-2 mb-1 col-12 flex-lg-row flex-md-row flex-column m-0 p-0 pb-2">
            <div class="bg-primary col-lg-3 col-md-3 col-12 m-0 text-center"><i class="bi bi-telephone-fill"> <small>+261 34 10 512 68</small></i></div>
            <div class="bg-primary col-lg-3 col-md-3 col-12 m-0 text-center"><i class="bi bi-envelope-at-fill"> <small> {{ mail }}</small></i></div>
            <div class="bg-primary col-lg-3 col-md-3 col-12 m-0 text-center"><i class="bi bi-currency-pound"> <small>Request a quotef</small></i></div>
        </div>
    </div>
</section>