<div class="container pb-3 pt-3">
  <div class="row">
    <div class="col-lg-4 col-md-6 col-12 m-lg-auto m-md-auto ps-3 pe-3 rounded">
      <div class="col-12 mt-3 mb-5"><h3 class="text-center text-light">Subscription</h3></div>
      <div class="col-12 mt-1 mb-1"><h5 class="text-center">{{ err }}</h5></div>
      <div class="col-lg-10 col-md-10 col-7 m-auto mb-4">
        <label class="col-12 text-center text-light fs-4" for="">Your password </label>
        <input #mot_de_passe class="col-11 m-auto mt-3 border-top-0 border-start-0 border-end-0 border-bottom-1 text-center" type="password" name="" id="">
      </div>
      <div class="col-lg-10 col-md-10 col-7 m-auto mb-4">
        <label class="col-12 text-center text-light fs-4" for="">Confirm your password </label>
        <input #confirmation class="col-11 m-auto mt-3 border-top-0 border-start-0 border-end-0 border-bottom-1 text-center" type="password" name="" id="">
      </div> 
        <div class="col-lg-10 col-md-10 col-7 m-auto mb-4 d-flex justify-content-lg-end justify-content-md-end justify-content-center">
          <div (click)="validate(mot_de_passe.value,confirmation.value,$event)" type="button" class="bg-primary p-2 text-light rounded"> Send </div>
        </div>
        <div class="validate d-flex flex-column mb-2">
          <span class="fs-5 text-lg-start text-md-start text-center"><a class="text-decoration-none" routerLink="login/subscription/login" routerLinkActive="activebutton">You had already an account ? </a></span>
          <span class="fs-6 text-lg-start text-md-start text-center"><a routerLink="/"  routerLinkActive="activebutton" class="text-decoration-none">Cancel</a></span>
      </div>
    </div>
  </div>
</div>
<app-internal-footer></app-internal-footer>