.container {
    width: 400px;
    padding: 20px;
    margin: auto;
    /* font-weight: bold; */
    outline: none;
    border: 2px solid;
    color: gray;
    background-color: #383535;
}
input {
    outline: none;
    border-color: white;
    background-color: #383535;
    color: rgb(206, 197, 197);
    transition: 0.5s;
    width: 90%;
    margin: auto;
}
input:focus, input:active {
    outline: none;
    border-color: white;
    background-color: #383535;
    font-weight: bold;
    color: white;
    caret-color: #b9b1b1;
    transform: translateY(5px);
    transition: 0.5s;
}
.container .text-center{
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 30px;
    font-family: "Lucida Handwriting", sans-serif;
}
.container .validate{
    margin-bottom: 30px;
    transform: translateX(5px);
}
.container .validate span{
    cursor: pointer;
    transition: 1s;
}
label {
    color: white;
    font-size: 20px;
    font-family:  "Calibri Light (Titres)",sans-serif;
    
}
.container .validate span:hover{
    cursor: pointer;
    color: white;
    transform: translateY(5px);
    transition: 0.5s;
}
.container .d-flex button {
    transition: 1s;
}
.container .d-flex button:hover {
    transform: scale(1.1) translateY(5px);
    transition: 0.5s;
}